body {
	margin: 0px;
	background-color: #CCC;
	font-family: "Trebuchet MS", helvetica, sans-serif;
}
#h1 {
	top: 10px;
	left: 10px;
	color: red;
}




#Bangkok{
	width: 100px;
	height: 600px;
	background-color: red;
}

#LA{
	width: 100px;
	height: 600px;
	background-color: red;
}
#SanJuan{
	width: 100px;
	height: 600px;
	background-color: red;
}
#Miami{
	width: 100px;
	height: 600px;
	background-color: red;
}
#Tokyo{
	width: 100px;
	height: 600px;
	background-color: red;
}
#Seoul{
	width: 100px;
	height: 600px;
	background-color: red;
}
#RioDeJaneiro{
	width: 100px;
	height: 600px;
	background-color: red;
}
#Santiago{
	width: 100px;
	height: 600px;
	background-color: red;
}
#Venice{
	width: 100px;
	height: 600px;
	background-color: red;
}
#Madrid{
	width: 100px;
	height: 600px;
	background-color: red;
}
#MexicoCity{
	width: 100px;
	height: 600px;
	background-color: red;
}
#Cairo{
	width: 100px;
	height: 600px;
	background-color: red;
}
